* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: black;
  text-align: center;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
/* nav */
nav {
  background-color: hsl(195, 92%, 48%);
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li,
a {
  color: white;
  font-size: 15px;
}
nav ul li:first-child img {
  margin-top: 10px;
}
nav ul li:nth-child(2) a {
  color: rgba(13, 13, 13, 0.938);
}
nav ul li:nth-child(2) i {
  color: hsl(0, 0%, 4%);
  font-size: 15px;
  margin-left: 6px;
}
nav ul li:nth-child(3) {
  position: relative;
}
nav ul li:nth-child(3) input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding-left: 6px;
}
nav ul li:nth-child(3) i {
  position: absolute;
  font-size: 15px;
  right: 12px;
  color: black;
  line-height: 30px;
  cursor: pointer;
}
nav ul li:nth-child(4) button {
  height: 30px;
  padding: 0 12px;
  cursor: pointer;
  background-color: hsl(195, 92%, 48%);
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  transform: all 0.3s ease;
}
nav ul li:nth-child(4) button i {
  margin-right: 6px;
}
nav ul li:nth-child(4) button:hover {
  background-color: red;
}
nav ul li:nth-child(5) {
  text-align: center;
}
nav ul li:nth-child(5):hover a {
  color: red;
}
nav ul li:nth-child(6):hover a {
  color: red;
}
nav ul li:nth-child(7):hover a {
  color: red;
}
/* menu_Dt */
.menu_dt {
  background-color: hsla(197, 100%, 51%, 0.945);
}
.menu_dt ul {
  display: flex;
  justify-content: space-between;
}
.menu_dt_content > ul > li {
  padding: 12px 6px;
  transition: all 0.3s ease;
}
.menu_dt ul li a {
  color: black;
  font-size: 16px;
}
.menu_dt ul li a i {
  margin-right: 6px;
  font-size: 16px;
}
.menu_dt ul li:hover {
  background-color: white;
}
.menu_dt_content > ul > li:nth-child(8) {
  position: relative;
}
.menu_dt_content > ul > li:nth-child(8)::before {
  position: absolute;
  content: "Giáº£m 5%";
  display: block;
  height: 13px;
  width: 45px;
  background-color: #f51212;
  border-radius: 5px;
  right: -20px;
  top: 2px;
  font-size: 10px;
  padding-left: 3px;
  color: white;
}
.menu_dt_content > ul > li:nth-child(8)::after {
  position: absolute;
  content: "";
  background-color: #f51212;
  height: 6px;
  width: 6px;
  display: block;
  top: 10px;
  right: 10px;
  z-index: 2;
  transform: rotate(45deg);
}
/* adress-from */
.adress-from {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  display: none;
  z-index: 999;
}
.adress-from-content {
  width: 450px;
  height: 500px;
  background-color: white;
  border-radius: 5px;
}
.adress-from-content form {
  padding: 12px 40px;
}
.adress-from-content h2 {
  font-size: 14px;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.adress-from-content h2 span {
  display: block;
  position: absolute;
  height: 30px;
  padding: 0 6px;
  border: 1px solid #ddd;
  right: 12px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  line-height: 30px;
  color: #333;
}
.adress-from-content form p {
  font-size: 16px;
}
.adress-from-content form input,
select {
  height: 45px;
  display: block;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 6px;
  border-radius: 5px;
}
.adress-from-content form button {
  margin-top: 20px;
  height: 40px;
  width: 80%;
  cursor: pointer;
  background-color: #f97e0e;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
}
/* submenu */
.menu_dt_content ul li {
  position: relative;
}
.submenu {
  position: absolute;
  background-color: #ddd;
  width: 300px;
  height: auto;
  left: 0;
  top: 100%;
  padding: 12px;
  display: none;
}
.submenu ul {
  display: flex;
  flex-direction: column;
}
.submenu ul li {
  padding: 6px 0;
}
.submenu ul li.ac a {
  font-size: 18px;
  font-weight: bold;
}
.menu_dt_content ul li:hover .submenu {
  display: block;
}
.submenu ul li:hover a {
  color: blue;
}
.submenu ul li:hover {
  background: none;
}
/* login */
.login-form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.login-form-content {
  width: 350px;
  background: hsla(204, 97%, 50%, 0.974);
  border-radius: 6px;
  text-align: center;
}

.login-form-content h2 {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.login-form-content h2 span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-form-content form {
  padding: 20px;
}

.login-form-content input {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 6px;
}

.login-form-content button {
  width: 100%;
  height: 40px;
  background: #f97e0e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#login-msg {
  margin-top: 10px;
}
#login-btn a {
  transition: 0.3s;
}

#login-btn:hover a {
  color: red;
}

#login-btn:hover {
  background: white;
  border-radius: 8px;
}
/* silder */
.slider {
  padding: 20px 0;
  height: 350px;
}
.slider-content {
  display: flex;
  justify-content: space-between;
}
.slider-content-left {
  width: 65%;
}
.slider-content-left-top {
  width: 100%;
  height: 300px;
  position: relative;
}
/* .slider-content-left-top:hover i {
  opacity: 1;
} */
.slider-content-left-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-content-right {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: space-between;
}
.slider-content-right li {
  width: 50%;
  height: 50%;
  text-align: center;
  margin-bottom: 3px;
}
.slider-content-right li img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 6px;
}
.slider-content-left-bottom {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ddd;
  border-top: none;
  height: 50px;
}
.slider-content-left-bottom li {
  width: 20%;
  text-align: center;
  cursor: pointer;
  padding: 6px 0;
  height: 100%;
  line-height: 38px;
  position: relative;
}
.slider-content-left-bottom li::before {
  display: block;
  content: "";
  position: absolute;
  height: 7%;
  width: 1px;
  background-color: hwb(0 98% 1%);
  right: 0;
}
.slider-content-left-bottom li.active {
  border-top: 4px solid #fff200;
}
.slider-content-left-top-btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slider-content-left-top-btn i {
  color: #333;
  font-size: 32px;
  height: 50px;
  width: 25px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  border-radius: 5px;
  opacity: 0;
  transform: all 0.3s ease;
  cursor: pointer;
}
.submenu {
  z-index: 10;
}
/* slider f1 */
.slider-content-left-top img {
  position: absolute;
}
.slider-content-left-top a:nth-child(2) img {
  transform: translateX(100%);
}
.slider-content-left-top a:nth-child(3) img {
  transform: translateX(200%);
}
.slider-content-left-top a:nth-child(4) img {
  transform: translateX(300%);
}
.slider-content-left-top a:nth-child(5) img {
  transform: translateX(400%);
}
.slider-content-left-top-container {
  position: relative;
  overflow: hidden;
}
.slider-content-left-top-container:hover i {
  opacity: 1;
}
.slider-content-left-top {
  transition: all 0.3s ease;
}
